<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KermesseApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("KermesseApp", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Categoría de productos", "ListCatProductos", "Tbl_cat_producto",null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Productos", "ListProductos", "Tbl_producto", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Lista de precio", "ListListaprecio", "Tbl_listaprecio", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Area de reportes", "areaReportes", "Reporteria", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-md-5 col-md-12">
        <div class="container">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>

        </div>
    </div>
   +9


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap-sketchy")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
